<% if errors.any? %>
  <div id="error_explanation" class="notification is-danger is-light content">
    <p class="is-size-5"><%= pluralize(errors.count, "error") %> prohibited from being saved:</p>
    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
