<div class="p-3 has-background-white-ter">
  <div class="container">
    <h1 class="title is-4"><%= t 'views.posts.index.title' %></h1>
    <% @posts.each do |p| %>
      <div class="media">
        <div class="media-content">
          <div class="content">
            <%= p.content %>
          </div>
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <%= l p.time, format: :local_long %>
              </div>
              <div class="level-item">
              <span class="level-item">
                <%= link_to post_path(p), method: :delete do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
