<h1>Posts</h1>

<table>
  <tbody>
  <% @posts.each do |p| %>
    <tr>
      <td>
        <%= l p.time, format: :local_long %>
      </td>
      <td>
        <%= p.content %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
