<div class="p-3 has-background-white-ter">
  <div class="container">
    <h1 class="title is-4"><%= t 'views.posts.index.title' %></h1>
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="notification is-info">
        <p>投稿予定のツイートがある場合、こちらで確認できます。</p>
      </div>
    <% end %>
  </div>
</div>
