<div class="p-3 has-background-white-ter">
  <div class="container">
    <h1 class="title">Scheduling Tweet</h1>
    <h1 class="title"><%= t 'views.posts.new.title' %></h1>
    <%= render 'form', post: @post %>
  </div>
</div>
